<span style="font-size: 36px;">W4111_Spring_2025_002 - Introduction to Databases:<br>All Tracks Data Engineering Phase 1<br>Professor Ferguson's Example</br></span>

# Overview

## Homework Instructions

For HW4 part 1, which is actually HW3 part 2, you must:
1. Watch the recorded recitation from Recitation:2025-04-05-Project.
2. Successfully execute all cells in the notebook.
3. Print/export and upload a PDF of the notebook with successful completion to GradeScope.

The remainer of section 1 "Overview" provides some background on the assignment and course project. There is additional information in the recitation video. Section 1 also provides instructions and tests for setting up and connecting to MySQL, MongoDB and Neo4j.

## Application Scenario

The following diagram depicts some major elements of the applications. 
- Both tracks implement a simple [data engineering](https://en.wikipedia.org/wiki/Data_engineering) project, specifically an [extract-transform-load](https://en.wikipedia.org/wiki/Extract,_transform,_load) application in a Jupyter notebook.
  - The input datatsets are information from [IMDB](https://developer.imdb.com/non-commercial-datasets/) and information about [Game of Thrones](https://github.com/jeffreylancaster/game-of-thrones).
  - The data engineering tasks process and load information into three databases:
      - A local installation of MySQL
      - A cloud document database on [MongoDB Atlas](https://www.mongodb.com/atlas)
      - A graph database on [Neo4j Aura](https://neo4j.com/product/auradb/)
  - The programming track implements a simple full-stack web application that supports searching and displaying information, and also adds creating and update additional data.
- The non-programming track implements:
  - Additional data engineering tasks to build a [data warehouse](https://en.wikipedia.org/wiki/Data_warehouse) that provides the data in a format suitable for decision support/data science.
  - A very simply decision support/data insight application in a Jupyter notebook. The application queries the various databases to produce "views" that can be used for visualization.

| <img src="overall-system.jpg" width="1000px;"> |
| :---: |
| __Overall Application Concept__ |

## Data Engineering

The following diagram is an overview of data engineering concepts, and entity-relationship modeling in general.

| <img src="top_down_bottom_up.jpg" width="900px;"> |
| :---: |
| __Data Modeling__ |

The data engineering tasks for the project are primarily _bottom-up data analysis and engineering._ There are two datasets that are the input to the data engineering:
1. IMDB data in comma separated value file.
2. Games-of-Thrones data in [JSON](https://en.wikipedia.org/wiki/JSON) files.

This Jupyter notebook provides some examples for the first phase of data engineering:
1. The initial data loading.
1. Define the "to be" data model.
2. How to map from the "as is" data to the "to be" data.

The providing the information in the project example helps students some understand the project tasks.

| <img src="data-janitor.jpg" width="900px;"> |
| :---: |
| __Data Engineering__ |

# Initialization

## General Python Packages

In [ ]:
import copy

In [ ]:
import json

In [ ]:
import pandas

In [ ]:
import numpy

## MySQL

### Import Packages

In [ ]:
# You should have installed the packages for previous homework assignments
# If not, you can %pip install the packages.
#
import pymysql
import sqlalchemy

### ipython-sql

In [ ]:
# This fixes a version incpatibility problem between ipython-sql and other packages.
# You may not need to do this. If it causes problems, you can restart the kernel, reimport the packages above
# and try skipping this cell.
#
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
# You have installed and configured ipython-sql for previous assignments.
# https://pypi.org/project/ipython-sql/
#
%load_ext sql

In [ ]:
# Make sure that you set these values to the correct values for your installation and 
# configuration of MySQL
#
db_user = "root"
db_password = "dbuserdbuser"

In [ ]:
# Create the URL for connecting to the database.
# Do not worry about the local_infile=1, I did that for wizard reasons that you should not have to use.
#
db_url = f"mysql+pymysql://{db_user}:{db_password}@localhost?local_infile=1"

In [ ]:
# Initialize ipython-sql
#
%sql $db_url

In [ ]:
# Your answer MAY be different based on the databases and tables that you have created on your local MySQL instance.
#
%sql use db_book;
%sql show tables;

### PyMySQL

In [ ]:
# We talked about the concept of a connection to databases in general, and also about connection libraries.
# pymysql is a common python connection library for MySQL.
#
default_mysql_conn = pymysql.connect(
    user=db_user,
    password=db_password,
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)

In [ ]:
# This cell shows how to programatically query an SQL database from python. The programming track will have to use
# code like this in their project. The non-programming track may have to use code like this in some complex scenarios.
#
cur = default_mysql_conn.cursor()

result = cur.execute("select * from db_book.student where dept_name='Comp. Sci.';");
result = cur.fetchall()
result_df = pandas.DataFrame(result)
result_df

### SQLAlchemy

In [ ]:
# SQLAlchemy is a common foundational library for connecting to SQL databases. Pandas integrates with SQLAlchemy.
# SQLAlchemy also support object-relational-mapping, but we do not use those features.
#
from sqlalchemy import create_engine
default_engine = create_engine(db_url)

In [ ]:
result_df = pandas.read_sql(
    "select * from db_book.student where dept_name='Comp. Sci.'", con=default_engine
)
result_df

## MongoDB

### Installation

Students have two choices for MongoDB:
1. Install a local instance of [MongoDB](https://www.mongodb.com/docs/manual/installation/) and [Compass.](https://www.mongodb.com/docs/compass/current/install/)
2. Use a [SaaS/cloud](https://en.wikipedia.org/wiki/Software_as_a_service) version of MongoDB and Compass. This gives students some experience with [Database-as-a-Service](https://en.wikipedia.org/wiki/Data_as_a_service), which may sound cool on job interviews.


Setup and configuration may be a little tricky in both cases. This is a 4xxx course at an elite university. Regardless of your major, any job with data is going to expect you to be able to set up, configure and connect to a database. There is a ton of online instructions, tutorials, videos, etc. on how to accomplish these tasks.


If you are using MongoDB Atlas you will need to create a cluster and get the connection URL. You will also need to have a user ID and password. Again, you should be able to figure this out. READ THE INSTRUCTIONS AND TUTORIALS.

| <img src="manual.jpg"> |
| :---: |
| __Read the Manual and Instructions__|

### Connect and Test

I use MongoDB Atlas. I Created the account using my Columbia login UNI. I also wrote down the password.

In [ ]:
# You may have to do a pip install.
#
# %pip install pymongo

In [ ]:
import pymongo

In [ ]:
# Put your user ID and password here.
#
mongodb_user_id = "dff9"
mongodb_password = "fquYGkveLj3XXZCt"

In [ ]:
# This is my connection URL.
#
mongodb_url = "mongodb+srv://dff9:fquYGkveLj3XXZCt@cluster0.t8qdk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [ ]:
# You can follow the tutorial.
#
from pymongo import MongoClient
import certifi

client = pymongo.MongoClient(mongodb_url, tlsCAFile=certifi.where())

# client = MongoClient(mongodb_url)

try:
    # start example code here

    # end example code here

    client.admin.command("ping")
    print("Connected successfully")

    # other application code

    # client.close()

except Exception as e:
    raise Exception(
        "The following error occurred: ", e)

In [ ]:
# Create a test database and collection.
#
database = client["test_database"]
collection = database["test_collection"]

In [ ]:
# Add some data.
#
document_list = [
   { "name" : "Mongo's Burgers" },
   { "name" : "Mongo's Pizza" }
]

insert_count = collection.insert_many(document_list)

In [ ]:
# Get the IDs of the inserted objects.
insert_count.inserted_ids

In [ ]:
# Find matching objects.
# 
result = collection.find(
    filter={"name": "Mongo's Pizza"},
    projection={"_id": 0}
)

In [ ]:
list(result)

You are fine for now.

## Neo4j

In [ ]:
# You may have to do a pip install
#
# %pip install neo4j

You have two choices for getting access to Neo4j.
- [Local installation](https://neo4j.com/download/) of Neo4j Desktop.
- The SaaS version [Neo4j Aura](https://neo4j.com/download)

My examples use Neo4j Aura. Once again, READ THE INSTRUCTIONS to install, configure, create a collection and run the Movies Graph examples.

| <img src="instructions.jpg" width="500px"> |
| :---: |
| __Read the Manual and Instructions__|

In [ ]:
# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
# 
# I used download to get my connection information. I had to add the " for the strings
#
# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
NEO4J_URI="neo4j+ssc://6ad277db.databases.neo4j.io"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="uP5yxQZtp4SbVroVExFg5RA9r4c36X4ruFZYghlsKEk"
AURA_INSTANCEID="6ad277db"
AURA_INSTANCENAME="Instance01"

In [ ]:
from neo4j import GraphDatabase

# URI examples: "neo4j://localhost", "neo4j+ssc://xxx.databases.neo4j.io"
#
# I changed +s to +ssc to make it work. ssc means self signed certificate. You would NEVER do this in practice.
# This is Wizard Sh*t and just for this class.
#
# NEO4J_URI = "neo4j+ssc://da38d60b.databases.neo4j.io"
AUTH = (NEO4J_USERNAME, NEO4J_PASSWORD)

with GraphDatabase.driver(NEO4J_URI, auth=AUTH) as driver:
    result = driver.verify_connectivity()
    print("Since this did not explode, you are cool.")

In [ ]:
# These cells assume that you followed the tutorial for the Movie Database.
# I showed how to do this in lecture 10, which very few of you attended or watched.
#
from neo4j import GraphDatabase


class Neo4jAuraDB:
    def __init__(self, uri, user, password):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))
        print("Created driver.")

    def close(self):
        self.driver.close()

    def find_person_by_name(self, name):
        query = """
        MATCH (p:Person {name: $name})
        RETURN p
        """
        with self.driver.session() as session:
            result = session.run(query, name=name)
            return [record["p"] for record in result]

# Example usage
if __name__ == "__main__":
    db = Neo4jAuraDB(NEO4J_URI, NEO4J_USERNAME, NEO4J_PASSWORD)
    try:
        people = db.find_person_by_name("Tom Hanks")
        if people:
            print("Found:")
            for person in people:
                print(dict(person))
        else:
            print("Tom Hanks not found.")
    finally:
        db.close()

You are golden if you got to here.

# Loading the Data

## Load the GoT Title Basics and name_basics into MySQL

I am going to load basic ```title_basics``` information into a new database.

In [ ]:
%sql drop schema if exists s25_project

In [ ]:
%sql create schema s25_project

I am going to save the GoT ```title_basics.```

In [ ]:
%pwd

In [ ]:
# This code assume you are running the notebook in the project cloned from GitHub and are in the
# correct directory.
#
default_engine = create_engine(db_url)
df = pandas.read_csv("../data/IMDB/got_title_basics.csv")
df.to_sql("got_title_basics", schema="s25_project", con=default_engine, index=False, if_exists="replace")

In [ ]:
%sql use s25_project
%sql select * from got_title_basics

In [ ]:
df = pandas.read_csv("../data/IMDB/name_basics.csv")
df.to_sql("got_title_basics", schema="s25_project", con=default_engine, index=False, if_exists="replace")

In [ ]:
%sql use s25_project
%sql select * from got_title_basics

## Load the Character Information into MongoDB

In [ ]:
character_info_file = "../data/GoT/character_relationship_scenes.json"
with open(character_info_file) as in_file:
    character_info = json.load(in_file)

In [ ]:
character_info[0:2]

In [ ]:
# Get ride of the "_id" because that is old information.
#
for c in character_info:
    del c["_id"]

In [ ]:
character_info[0:2]

In [ ]:
# Insert the documents into mongodb.
database = client["S25_GoT"]
collection = database["characters_scenes_relationships"]

In [ ]:
result = collection.insert_many(character_info)

In [ ]:
print("You inserted", len(result.inserted_ids), "documents into the collection.")

In [ ]:
# Do the same for characters in general.
#
character_info_file = "../data/GoT/characters.json"
with open(character_info_file) as in_file:
    character_info = json.load(in_file)
    character_info = character_info["characters"]

In [ ]:
character_info[0:2]

In [ ]:
collection = database["characters"]
result = collection.insert_many(character_info)

In [ ]:
print("You inserted", len(result.inserted_ids), "documents into the collection.")

You are golden for now.

## Load the Character Information into Aura

In [ ]:
# Rerunning the slightly modified code from above.
#
class Neo4jAuraDB:
    def __init__(self, uri, user, password):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))
        # print("Created driver.")

    def close(self):
        self.driver.close()

    def create_character_node(self, label, properties):
        with self.driver.session() as session:
            session.execute_write(self._create_node, label, properties)

    def count_characters(self):
        with self.driver.session() as session:
            query = "match (n:GoT:Character) return count(n)"
            records, summary, keys = driver.execute_query(
                query
            )
            # Loop through results and do something with them
            for record in records:
                print(record.data())
        

    def _create_node(self, tx, label, properties):
        
        # Build Cypher property string: key1: $key1, key2: $key2, ...
        prop_string = ", ".join([f"{k}: ${k}" for k in properties.keys()])
        
        # Final Cypher query
        query = f"CREATE (c:{label} {{ {prop_string} }})"

        # print(query)
        
        tx.run(query, **properties)
    
    def insert_character(self, c):
        # Some of the fields that interest use might be None.
        # So, we just get the fields we want.
        #
        fields = ["characterName", "characterLink", "actorName", "actorLink", "houseName",
                "royal", "kingsguard"
                ]
        new_c = dict()
        for f in fields:
           v = c.get(f, None)
           if v:
               new_c[f] = v
        self.create_character_node("GoT:Character", new_c)
        # print("This seems to have worked.")

In [ ]:
# Now let's insert the characters.
#
# This cell will run for a while.
#
db = Neo4jAuraDB(NEO4J_URI, NEO4J_USERNAME, NEO4J_PASSWORD)
try:
    for c in character_info:
        people = db.insert_character(c)
finally:
    # db.close()
    pass

In [ ]:
# How many were created?
#
# You may get a deprecated warning that you can ignore.
#
db = Neo4jAuraDB(NEO4J_URI, NEO4J_USERNAME, NEO4J_PASSWORD)
db.count_characters()

# Programming Track Only

Follow the instructions in the recitation video to set up and start the middle tier of the web application. Execute the cells below when you are done.

In [ ]:
import requests

In [ ]:
result = requests.get('http://localhost:8001/api/students/00128')

In [ ]:
result.status_code

In [ ]:
result.json()